.logo-resize{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 42px;
}
.contact-header{
    font-size: 86px;
    font-weight: 900;
}
.contact-sub-header{
    margin: -18px 0px 0px -212px;
    font-size: 57px;
    font-weight: 900;
}
.terms-apply-text{
    margin-bottom: 21px;
}