<div class="pointer" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="50px">
    <div fxLayout="column" fxLayoutAlign="start end">
        <img class="logo-resize" src="../../assets/images/Services.jpeg" alt="">
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="51px">
            <h1 class="contact-header">good contracts</h1>
            <h1 class="contact-sub-header">by giffgaff</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch">
        <p>*Terms apply</p>
    </div>
</div>
