.toolbar-container{
    height: 10vh;
}
.toolbar-profile{
    width: 29px;
}
.text-remove-margin{
    margin: 0 0 0px;
}
.logo-size{
    font-size: 33px;
    font-weight: 500;
}
.repositioning-feedback-img{
    position: absolute;
    text-align: left;
    width: 30px;
    top: 245px;
    right: 0px;
}

.contact-container{
    background-color: #00CEB3;
    height: 56%;
}

// .toolbar-item-hover:hover{
//   background-color: #fff;
// }