<div fxLayout="row" fxLayoutAlign="start stretch" fxFill>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100">
        <img class="repositioning-feedback-img" src="../../assets/images/feedback.png" alt="">
        <!-- Tool Bar sec -->
        <div class="black-bg" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="90">
                <div class="toolbar-container" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxLayout="column" fxLayoutAlign="start stretch">
                        <h1 class="text-remove-margin white-color logo-size  ">
                            giffgaff
                        </h1>
                    </div>
                  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="50">
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px" *ngFor="let item of links">
                            <img class="toolbar-profile" src="../../assets/icons/{{item.profileIcon}}" alt="" *ngIf="(item.profileIcon) !== ''">
                            <h3 class="text-remove-margin white-color">{{item.linkName}}</h3>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- Main Container -->
        <div class="contact-container" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="90">
                <app-contact></app-contact>
            </div>
        </div>

    </div>
</div>